{deps,[
  {espec, ".*", {git, "https://github.com/madtrick/espec.git", {branch, "master"}}},
  {hamcrest, ".*", {git, "https://github.com/madtrick/hamcrest-erlang.git", {branch, master}}},
  {meck, ".*", {git, "https://github.com/eproxus/meck.git", {branch, master}}},
  {amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq-2.8.2"}}}
]}.

% vim:ft=erlang
