{deps,[
  {espec, ".*", {git, "https://github.com/lucaspiller/espec.git", {branch, "master"}}},
  {hamcrest, ".*", {git, "https://github.com/hyperthunk/hamcrest-erlang.git", {branch, master}}},
  {meck, ".*", {git, "https://github.com/eproxus/meck.git", {branch, master}}},
  {amqp_client, ".*", {git, "git://github.com/jbrisbin/amqp_client.git", {tag, "rabbitmq_2.7.0"}}}
]}.
